<div class="bodynonav">
    <br>
<% unless admin_signed_in? || current_teacher.id == @worksheet.teacher_id %>
    <% redirect_to edit_yearlevel_topic_worksheet_path(@yearlevel, @topic, @worksheet) %>
<% end %>

<h1> <strong>WORKSHEETS</strong>  |  Edit Worksheet</h1>
    <ol class="arrows">
        <li><%= link_to "Home", root_path, method: :get %></li>
        <li><%= link_to "Worksheets", yearlevels_path, method: :get %></li>
        <li><%= link_to "Year level " + @topic.yearlevel.number.to_s, yearlevel_path(@topic.yearlevel), method: :get %></li>
        <li><%= link_to @topic.name, yearlevel_topic_path(@topic.yearlevel, @topic), method: :get %></li>
        <li><h2><%= @worksheet.title %></h2></li>
    </ol>
<br>
<% if @worksheet.errors.full_messages.count > 0 %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h4 class="text-error"><%= pluralize(@worksheet.errors.count, "error") %> prohibited this worksheet from being saved:</h4>
    <ul style="margin-bottom: 0">
    <% @worksheet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= simple_nested_form_for @worksheet, url: yearlevel_topic_worksheet_path(@yearlevel, @topic, @worksheet), method: "put" do |f| %>

<div class="form-inputs">
    <p><strong><%= f.label "Worksheet Title" %></strong><br>
    <%= f.text_field :title, :value => @worksheet.title,:size => 135,  :label => false %></p>
    
    <p><strong><%= f.label "Directions" %></strong><br>
    <%= f.text_area :directions, :value => @worksheet.directions,  :cols => "135", :rows => "3",  :label => false  %></p>
</div>

<div class="items row worksheet">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answers</th>
                <th style="width:350px"></th>
                <th style="width:60px"></th>
            </tr>
        </thead>
        <tbody>
            <%= f.simple_fields_for :items do |j| %>
                <% if !j.object.id.nil? %>
                    <tr>
                        <td class="align-top">
                            <%= j.text_area :question, :cols => "70", :rows => "3", :label => false,class:'form-control' %>
                            
                        </td>
                        <td class="align-top"><%= j.text_area :answer, :cols => "70", :rows => "3", :label => false,class:'form-control' %></td>
                        <td>
                            <% if j.object.image? %>
                              <%= image_tag j.object.image.url,class: 'img-fluid' %>
                              <%= j.label :remove_image %>
                              <%= j.check_box :remove_image %> 
                            <% else %>
                                <div class="custom-file">

                                    <%= j.label :image, "Image", class:'custom-file-label' %> <br>
                                    <%= j.file_field :image,
                                    class:'custom-file-input'  %></p>
                                </div>
                            <% end %>
                        </td>
                        <td class="align-middle">
                             <%= link_to 'Remove', yearlevel_topic_worksheet_item_path(@yearlevel, @topic, @worksheet, j.object.id), class: "btn btn-danger btn-lg", :method => :delete %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>



<div class="links" style="position:relative; margin-left:90%; margin-right:10%; ">
    <%= link_to_add_association 'Add Item', f, :items, class: "btn btn-success" %>
</div>
    <br>
<div class="form-actions"  style="position:relative; margin-left:90%; margin-right:10%; ">
    <%= f.button :submit, "Update Worksheet", class: "btn btn-primary btn-lg" %>
</div>
  <% end %>  
</div>

<script type="application/javascript">
    $(document).ready(function(){
        $(document).on('change','input[type="file"]',function (e) { 
            console.log($(this));
            var fileName = e.target.files[0].name;
            $(this).siblings('.custom-file-label').html(fileName);
        });
    });
    
</script>