<div class="bodynonav">
    <br>
    <h1> <strong>WORKSHEETS</strong>  |  Create Worksheet</h1>
    <ol class="arrows">
        <li><%= link_to "Home", root_path, method: :get %></li>
        <li><%= link_to "Worksheets", yearlevels_path, method: :get %></li>
        <li><%= link_to "Year level " + @topic.yearlevel.number.to_s, yearlevel_path(@topic.yearlevel), method: :get %></li>
        <li><%= link_to @topic.name, yearlevel_topic_path(@topic.yearlevel, @topic), method: :get %></li>
        <li><h2>New Worksheet</h2></li>
    </ol>
    <br>
    <br>
    <% if @worksheet.errors.full_messages.count > 0 %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h4 class="text-error"><%= pluralize(@worksheet.errors.count, "error") %> prohibited this worksheet from being saved:</h4>
        <ul style="margin-bottom: 0">
        <% @worksheet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= simple_form_for @topic.worksheets.build, url: yearlevel_topic_worksheets_path(@yearlevel, @topic) do |f| %>

    <div class="form-inputs">
      <strong><p><%= f.label "Worksheet Title" %></strong><br>
        <%= f.text_field :title, :size => 135,  :label => false %></p>
     <strong><p><%= f.label "Directions" %></strong><br>
        <%= f.text_area :directions, :cols => "135", :rows => "3",  :label => false  %></p> 
    </div>


    <div class="items">
        <%= f.simple_fields_for :items do |item|  %>
            <%= render 'item_fields', :f => item %>
        <% end %>
    <div class="links"  style="postion:relative; margin-left: 90%;">
        <%= link_to_add_association 'Add Item', f, :items, class: "btn btn-success btn-lg" %>
    </div>
    <br>
    <div class="form-actions" style="postion:realtive; margin-left: 90%; ">
        <%= f.button :submit, "Create", class: "btn btn-primary btn-lg"%>
        <% end %>
    </div>
</div>