<div class="bodynonav">
    <br>
<h1> <strong>WORKSHEETS</strong>  |  Show Worksheet</h1>
<%= render '/layouts/breadcrumb' %>
    <%= yield %>
<br>
<h1> <%= @worksheet.title %> </h1>
<strong>Directions:</strong> <%= @worksheet.directions %> 
<br>
<table class="table table-striped"> 
    <th>No.</th>
    <th>Questions</th>
    <th>Answers</th>
    <% @worksheet.items.each do |j| %>
        <tr> 
            <td>  <%= j.number %> </td>
            <td>  <%= j.question %> </td>
            <td>  <%= j.answer %> </td>
        </tr>
    <% end %>
          
</table>
<br>
         <%= link_to 'Back', yearlevel_topic_path(@yearlevel, @topic), class: "btn btn-primary btn-lg" %> 