<div class="bodynonav">
    <br>
<h1> <strong>ACCOUNTS</strong>  |  Student Accounts</h1>
    <br>
 <%= render '/layouts/breadcrumbstudent' %>
    <%= yield %>
    <br>
 <%= link_to "Create Student", new_student_registration_path, class: "btn btn-primary btn-lg", style: 'margin-bottom:20px;' %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th style="width:80px"></th>
            <th style="width:40px"></th>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |p| %>
            <tr>
                <td><%= p.susername %></td>
                <td><%= p.firstname %></td>
                <td><%= p.lastname %></td>
                <td><%= if p.status == true then "Active" else "Inactive" end %></td>
                
                <td><% if p.status %>
                    <%= simple_form_for(p, as: :student, url: url_for(:controller => 'students', :action => 'deactivate'), html: { method: :delete }) do |f| %>
                        <input type="hidden" name="student[id]" value="<%= p.id %>">
                        <button class="btn btn-danger" onclick="confirm('Are you sure you want to deactivate?')">Deactivate</button>
                    <% end %>
                <% else %>
                    <%= simple_form_for(p, as: :student, url: url_for(:controller => 'students', :action => 'deactivate'), html: { method: :delete }) do |f| %>
                        <input type="hidden" name="student[id]" value="<%= p.id %>">
                        <button class="btn btn-success" onclick="confirm('Are you sure you want to activate?')">Activate</button>
                    <% end %>
                <% end %>
                </td> 
                
                <td><%= link_to "Edit",  students_edit_path(student: p.id), class: 'btn btn-warning'  %> </td>
            </tr>
        <% end %>
    </tbody>
</table> 
<br>
</div>
