<div class="bodynonav">
    <br>
<h1> <strong>WORKSHEETS</strong>  |  Create Topic</h1>
<br>
<br>
<% if @topic.errors.full_messages.count > 0 %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h4 class="text-error"><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h4>
    <ul style="margin-bottom: 0">
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<fieldset>
    <%= simple_form_for @topic, url: yearlevel_topics_path(@yearlevel) do |f| %>
<div id="log-in" class="container">
<div class="col-6 col-sm-3">

<div class="form-inputs">
    <div class="row">
    <div class="input-field col s4">
    <p><%= f.label "Topic Title" %>
    <%= f.text_field :name %></p>
    </div>
    </div>
    <br>
    <div class="row">
    <div class="input-field col s4">
    <p><%= f.label "Description" %>
    <%= f.text_area :description, :size => "22" %></p>
    </div>
   </div>
      </div>
      <br>
</div>
<div class="row">
<div class="input-field col s4">
<div class="form-actions">
    <%= f.submit "Create", class: "btn btn-primary btn-lg" %>
</div>
</div>
</div>
<% end %>

</div>
</fieldset>



