<br>
<br>
<br>
<div class="bodynonav">
<h2>Forgot your password?  |  Teacher</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <br>
  <div class="form-inputs">
    <%= f.label "Username" %>
    <%= f.input :pusername, required: true, autofocus: true, :label => false %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Send", class: "btn btn-primary btn-lg" %>
  </div>
  <p>Send me reset password instructions </p>
<% end %>

<%#= render "teachers/shared/links" %>
</div>
