<div class="bodynonav">
<br>
<h1> <strong>WORKSHEETS</strong>  |  Answer Worksheet</h1>
<ol class="arrows">
    <li><%= link_to "Home", root_path, method: :get %></li>
    <li><%= link_to "Worksheets", yearlevels_path, method: :get %></li>
    <li><%= link_to "Year level " + @topic.yearlevel.number.to_s, yearlevel_path(@topic.yearlevel), method: :get %></li>
    <li><%= link_to @topic.name, yearlevel_topic_path(@yearlevel, @topic), method: :get %></li>
    <li><h2><%= @worksheet.title %> </h2></li>
</ol>
<br>

<h1> <%= @worksheet.title %> </h1>
<h6> Directions: <%= @worksheet.directions %></h6>
<br>
<%= simple_form_for @worksheet.answered_worksheets.build, url: yearlevel_topic_worksheet_answered_worksheets_path(@yearlevel, @topic, @worksheet) do |f| %>

<table class="table table-striped"> 
    <th>No.</th>
    <th>Questions</th>
    <th>Answers</th>
   
    <% @worksheet.items.each do |j| %>
        <tr> 
            <td class="align-top">  <%= j.number %> </td>
            <td class="align-top">  <%= j.question %> 
                <br>
                <% if j.image? %>
                  <%= image_tag j.image.url,class: 'img-fluid' %>
                <% end %>
            </td>
            <%= f.fields_for :studentanswers, @answered_worksheet.studentanswers.build do |studentanswer| %>
                <td class="align-top">
                    <%= studentanswer.input :studentinput,  as: :text, :label => false %>
                </td>
            <% end %>
        </tr>
    <% end %>
    
</table>

<div class="form-actions">
    <%= f.button :submit, "Finish Worksheet", class: "btn btn-primary btn-lg" %>
</div>

<% end %>


<%#= render 'form' %>

<%#= link_to 'Back', answered_worksheets_path %>
