<br>
<h1> <strong>WORKSHEETS</strong>  |  Select Topic</h1>
<ol class="arrows">
    <li><%= link_to "Home", root_path, method: :get %></li>
    <li><%= link_to "Worksheets", yearlevels_path, method: :get %></li>
    <li><h2>Year level <%= @yearlevel.number %></h2></li>
</ol>
<div class="row">
    <table class="table table-striped table-responsive-md"> 
        <thead>
            <tr>
                <td><strong>TOPIC</strong></td>
                <td><strong>DESCRIPTION</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <% @yearlevel.topics.each do |i| %>
                <%# goes through topics of a specific year level %>
                <tr> 
                    <td>  <%= i.name %> </td>
                    <td> <%= i.description %> </td>
                    <td> <%= link_to 'Select', yearlevel_topic_path(@yearlevel, i), class: "btn btn-primary btn-lg" %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if for_admin %>
        <%= link_to 'Create New Topic', new_yearlevel_topic_path(@yearlevel), class: "btn btn-primary btn-lg" %>
    <% end %>
</div> 