
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>


<br>
<br>
<br>
<div class="bodynonav">
<fieldset>
<div id="log-in" class="container">
<h2>Log in | Admin </h2>
<br>
<br>
<div class="col-6 col-sm-3">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="row">
    <div class="input-field col s4">
    <%= f.label "Username" %>
    <%= f.input :ausername, required: false, autofocus: true, :label => false %>
    </div>
    </div>
    <br>
    <div class="row">
    <div class="input-field col s4">
    <%= f.label "Password" %>
    <%= f.input :password, required: false,:label => false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
   </div>
   </div>
      </div>
      <br>
  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
 </div>
</div>
</fieldset>