<br>
<ol class="arrows">
    <li><%= link_to "Home", root_path, method: :get %></li>
    <li><%= link_to "Teachers", teachers_path, method: :get %></li>
</ol>
<h1>Edit Teacher Account</h1>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <br><br>
    <%= simple_form_for(@teacher, as: :teacher, url: teachers_update_path, html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <input type="hidden" name="teacher[id]" value="<%= @teacher.id %>">
        <div class="form-group">
          <%= f.label :susername, "User name:" %>
          <%= f.text_field :pusername, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :firstname, "First name:" %>
          <%= f.text_field :firstname, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :lastname, "Last name:" %>
          <%= f.text_field :lastname, class: 'form-control' %>
        </div>
          <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <!-- <p>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></p> -->
          <%# end %>

          <%# f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <%# f.input :password_confirmation, required: false %>
          <%# f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        <br>
        <div class="form-actions">
          <%= f.button :submit, "Update",class: 'btn btn-primary' %><%= link_to "Back", teachers_path, class: 'btn btn-ghost'%>
        </div>
      <% end %>
  </div>
</div>
<!-- <p>Unhappy? <%# link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->


