<div class="bodynonav">
    <br>
<h1> <strong>ACCOUNTS</strong>  |  Teacher Accounts</h1>
    <br>
 <%= render '/layouts/breadcrumbstudent' %>
    <%= yield %>
    <br>

<table class="table table-striped">
    <tr>
        <th>User Name</th>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <% @teachers.each do |p| %>
        <tr>
            <td><%= p.pusername %></td>
            <td><%= p.firstname %></td>
            <td><%= p.lastname %></td>
            <td><%= if p.status == true then "Active" else "Inactive" end %>
            
            <td><% if p.status %>
                <%= link_to "Deactivate", 
                    teachers_path,
                    method: :delete, 
                    data: { confirm: "Are you sure you want to deactivate?" }, class: 'btn btn-danger' %>
            <% else %>
                <%= link_to "Activate", 
                    teachers_path,
                    method: :delete, 
                    data: { confirm: "Are you sure you want to activate?" }, class: 'btn btn-success' %>
            <% end %>
            </td> 
            
            <td><%= link_to "Edit",  edit_teacher_registration_path, class: 'btn btn-warning'  %> </td>
        </tr>
    <% end %>
</table> 
<br>
 <%= link_to "Create Teacher", new_teacher_registration_path, class: "btn btn-primary btn-lg" %>
