
     <% if for_teacher %>
     <nav class="navbar sticky-top navbar-inverse teacher">
     <div class="container-fluid">
      <img src = "https://i.imgur.com/AkFcg0k.png">
       <p class="navbar-text pull-right">
     <ul class="nav nav-pills navbar-left teacher">
      <li>
        <a  class="nav-item nav-link nav-pills teacher data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/yearlevels"> WORKSHEETS </span></a>
      </li>
      <li>
        <a  class="nav-item nav-link nav-pills teacher data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/">NEED HELP</a>
      </li>
      </ul>
       <p id="navcon">
      Logged in as <strong><%= current_teacher.pusername %></strong> |
      <%= link_to "Logout", destroy_teacher_session_path, method: :delete, :class => 'navbar-link'  %>
       </p>
    </div>
    </nav>
      
      <% elsif for_student %>
      <nav class="navbar sticky-top navbar-inverse student">
     <div class="container-fluid">
        <img src = "https://i.imgur.com/AkFcg0k.png">
      
     <ul class="nav nav-pills navbar-left student">
      <li >
        <a class="nav-item nav-link  nav-pills student data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/yearlevels"> WORKSHEETS </a>
      </li>
      <li >
        <a class="nav-item nav-link  nav-pills student data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/">NEED HELP</a>
      </li>
      </ul>
      <div class="navcon">
       <p class="navbar-text pull-right">
      Logged in as <strong><%= current_student.susername %></strong> |
      <%= link_to "Logout", destroy_student_session_path, method: :delete, :class => 'navbar-link'  %>
       </p>
    </div>
    </nav>
      
        <% elsif for_admin %>
    <nav class="navbar sticky-top navbar-inverse admin">
     <div class="container-fluid">
      <img src = "https://i.imgur.com/AkFcg0k.png">
       <p class="navbar-text pull-right">
     <ul class="nav nav-pills pull-left admin">
      <li >
        <a class="nav-item nav-link nav-pills admin data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/yearlevels"> WORKSHEETS </span></a>
      </li>
      <li class="dropdown">
        <a class="nav-item nav-link  nav-pills dropdown-toggle" data-toggle="dropdown" href="https://mcezkineticmath-zacharypangan.c9users.io/students">ACCOUNTS <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="https://mcezkineticmath-zacharypangan.c9users.io/students">Students</a></li>
          <li><a href="https://mcezkineticmath-zacharypangan.c9users.io/teachers">Teachers</a></li>
        </ul>
      </li>
      <li >
        <a class="nav-item nav-link  nav-pills data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/">NEED HELP</a>
      </li>
      </ul>
       <p class="navbar-text pull-right">
      Logged in as <strong><%= current_admin.ausername %></strong> |
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
       </p>
    </div>
    </nav>
       
       
      <% else %>
    <nav class="navbar sticky-top navbar-inverse">
    <div class="container-fluid">
       <img src = "https://i.imgur.com/53bauQp.png">
      <ul class="nav nav-pills navbar-center general">
      <li >
        <a class="nav-item nav-link nav-pills general data-toggle" href="http://www.kineticmathcenter.com/">BACK TO WEBSITE</span></a>
      </li>
      <li>
        <a class="nav-item nav-link  nav-pills general active data-toggle" href="https://mcezkineticmath-zacharypangan.c9users.io/">SIGN IN HERE</a>
      </li>
      </ul>
    </div>
    </nav>
     <% end %>
 

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>