
<% if for_teacher %>
  <nav class="navbar sticky-top navbar-inverse teacher">
    <div class="container-fluid">
      <%= link_to root_path, method: :get do %>
        <img src = "https://i.imgur.com/AkFcg0k.png">
      <% end %>
      <ul class="nav nav-pills navbar-left teacher">
        <li>
          <%= link_to yearlevels_path "WORKSHEETS", method: :get, class: "nav-item nav-link nav-pills teacher data-toggle"%>
        </li>
        <li>
          <%= link_to "NEED HELP", root_path, method: :get, class: "nav-item nav-link nav-pills teacher data-toggle"%>
        </li>
      </ul>
      <p id="navcon">
      Logged in as <strong><%= current_teacher.pusername %></strong> |
      <%= link_to "Logout", destroy_teacher_session_path, method: :delete, :class => 'navbar-link'  %>
      </p>
    </div>
  </nav>
      
<% elsif for_student %>
  <nav class="navbar sticky-top navbar-inverse student">
    <div class="container-fluid">
      <%= link_to root_path, method: :get do %>
        <img src = "https://i.imgur.com/AkFcg0k.png">
      <% end %>
      <ul class="nav nav-pills navbar-left student">
        <li>
          <%= link_to "WORKSHEETS", yearlevels_path, method: :get, class: "nav-item nav-link nav-pills student data-toggle"%>
        </li>
        <li >
          <%= link_to "NEED HELP?", root_path, method: :get, class: "nav-item nav-link nav-pills student data-toggle"%>
        </li>
      </ul>
      <div class="navcon d-flex align-items-center">
        <p class="navbar-text">
        Logged in as <strong><%= current_student.susername %></strong> |
        <%= link_to "Logout", destroy_student_session_path, method: :delete, :class => 'navbar-link'%>
        </p>
      </div>
    </div>
  </nav>
      
<% elsif for_admin %>
  <nav class="navbar sticky-top navbar-inverse admin">
    <div class="container-fluid">
      <%= link_to root_path, method: :get do %>
        <img src = "https://i.imgur.com/AkFcg0k.png">
      <% end %>
      <ul class="nav nav-pills pull-left admin">
        <li>
          <%= link_to "WORKSHEETS", yearlevels_path, method: :get, class: "nav-item nav-link nav-pills admin data-toggle"%>
        </li>
        <li>
          <div class="dropdown">
            <a class="nav-item nav-link nav-pills dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ACCOUNTS
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top:-2px;">
              <%= link_to "Students", students_path, method: :get, class: "dropdown-item"%>
              <%= link_to "Teachers", teachers_path, method: :get, class: "dropdown-item"%>
            </div>
          </div>
        </li>
        <li >
          <%= link_to "NEED HELP?", root_path, method: :get, class: "nav-item nav-link nav-pills data-toggle"%>
        </li>
      </ul>
      <p class="navbar-text pull-right">
      Logged in as <strong><%= current_admin.ausername %></strong> |
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
      </p>
    </div>
  </nav>
       
       
<% else %>
    <nav class="navbar sticky-top navbar-inverse">
    <div class="container-fluid">
       <img src = "https://i.imgur.com/53bauQp.png">
      <ul class="nav nav-pills navbar-center general">
      <li >
        <%= link_to "BACK TO WEBSITE",root_path, class: 'nav-item nav-link nav-pills general data-toggle' %>
      </li>
      <li>
        <%= link_to "SIGN IN HERE",root_path, class: 'nav-item nav-link  nav-pills general active data-toggle' %>
      </li>
      </ul>
    </div>
    </nav>
<% end %>
 

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>