<div class="bodynonav">
    <br>
<h1> <strong>ACCOUNTS</strong>  |  Create Student Account</h1>
    <br>
     <%= render '/layouts/breadcrumbstudent' %>
    <%= yield %>
    <br>
<div class="container">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><%= f.label "Username" %><br>
    <%= f.input :susername, :label => false %></p>
    
    <p><%= f.label "First Name" %><br>
    <%= f.input :firstname, :label => false  %></p>
    
    <p><%= f.label "Last Name" %><br>
    <%= f.input :lastname, :label => false  %></p>
    
    <p><%= f.label "Password" %><br>
    <%= f.input :password, required: true, :label => false %><br> 
    <%= f.label "Password Confirmation" %><br>
    <%= f.input :password_confirmation, required: true, :label => false  %></p>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Create Account", class: "btn btn-primary btn-lg"  %>
  </div>
<% end %>
</div>  
